<a href="https://colab.research.google.com/github/malowana/NLP_budzet_obywatelski/blob/main/BO_analiza_morfologiczna2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install morfeusz2

Collecting morfeusz2
  Downloading morfeusz2-1.99.3-20211121-cp35.cp36.cp37.cp38.cp39-abi3-manylinux2014_x86_64.whl (8.5 MB)
     |████████████████████████████████| 8.5 MB 7.9 MB/s
Installing collected packages: morfeusz2
Successfully installed morfeusz2-1.99.3

In [ ]:
# instalacja morfeusza
!wget -O - http://download.sgjp.pl/apt/sgjp.gpg.key|sudo apt-key add -
!sudo apt-add-repository http://download.sgjp.pl/apt/ubuntu
!sudo apt update
!sudo apt install morfeusz2
!sudo apt install python3-morfeusz2


# instalacja modelu IPI PAN dla języka polskiego
!wget "http://zil.ipipan.waw.pl/SpacyPL?action=AttachFile&do=get&target=pl_spacy_model_morfeusz-0.1.3.tar.gz"
!mv 'SpacyPL?action=AttachFile&do=get&target=pl_spacy_model_morfeusz-0.1.3.tar.gz' pl_spacy_model_morfeusz-0.1.3.tar.gz
!python3 -m pip install pl_spacy_model_morfeusz-0.1.3.tar.gz

# linkowanie modelu do spaCy
!python3 -m spacy link pl_spacy_model_morfeusz pl_spacy_model_morfeusz -f

In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
from gensim.utils import simple_preprocess
from collections import Counter
import gc
import morfeusz2
import spacy
from spacy.lang.pl.stop_words import STOP_WORDS

In [47]:
# Wyświetlanie szerszych kolumn, aby nie skracać wyświetlanych nazw tematów
pd.set_option('max_colwidth', 400)

In [48]:
morf = morfeusz2.Morfeusz()

In [49]:
df = pd.read_excel('/content/drive/My Drive/Konkursy Kaggle/Budżet obywatelski/budzet_obywatelski.xlsx', sheet_name='Arkusz1')
df.rename(columns={'rok ': 'rok', 'miasto ':'miasto'}, inplace=True)
df = df[~df['nazwa'].isna()]
df['miasto'] = df['miasto'].map(lambda x: x.upper())
# Usunięcie pustych wpisów

# Indeksy do usunięcia
rem_index = df[df['nazwa'].isnull()].index.tolist()
rem_index += df[df['nazwa']=='bd'].index.tolist()

df.drop(df.index[rem_index], inplace=True)
# Usunięcie duplikatów
df = df.drop_duplicates()
df['nazwa'] = df['nazwa'].apply(str)
#usuniecie kolumny wszystko
if 'WSZYSTKO' in df: del df['WSZYSTKO']
df.sample(10)

           rok  ...                                                                                                                                    nazwa
11407     2019  ...  Rewitalizacja terenu SP16 - Z klasą i z rodziną czas płynie zdrowo na placu zabaw pod chmurką, zbudowanym odlotowo! Budowa placu zabaw.
17230     2019  ...                                                                                             Centrum Doświadczania Świata Kraina Zmysłów
16230     2019  ...                                                                                                                    Dęby zamiast pomników
8955      2018  ...                                                                                                                  Kuźnicki Psi Park Zabaw
20588     2019  ...                                                                                                 Nowe przejście dla pieszych na Odolanach
1347      2020  ...                                                                                                                          Góra z górą ...
1405      2020  ...                                  Nartorolki dla Gdańska. Alternatywa dla narciarstwa biegowego. Gdańsk jako stolica nartorolek w Polsce.
6749      2018  ...                                                                           Koncertowa majówka na Rajskiej Polanie przy ulicy Wał Matejki.
15891     2018  ...                                                                                   Tradycja i nowocześność‐ stroje Bronowickie dla SP 50.
12227  2018/19  ...                                                                           Wypoczynek na Żubardziu - relaks i podwórkowe zabawy sportowe.

[10 rows x 3 columns]

In [50]:
df.loc[(df['miasto'] == 'WARSZAWA'), "czy_WAW"] = 1
df.loc[df["czy_WAW"].isnull(),  "czy_WAW"] = 0
df["czy_WAW"].value_counts()

0.0    18431
1.0     4599
Name: czy_WAW, dtype: int64

# WARSZAWA

In [51]:
df_waw = df[df['miasto'] == 'WARSZAWA']
df_waw.head()

        rok  ... czy_WAW
18418  2018  ...     1.0
18419  2018  ...     1.0
18420  2018  ...     1.0
18421  2018  ...     1.0
18422  2018  ...     1.0

[5 rows x 4 columns]

In [52]:
data_waw =[]

In [53]:
for rows in range(1,df_waw.shape[0]):
  text = df_waw.iloc[rows, 2]
  miasto = df_waw.iloc[rows, 1]
  rok = df_waw.iloc[rows, 0]
  analysis = morf.analyse(text)
  for interpretation in analysis:
      start_ind, end_ind, interp = interpretation
      form, lemma, tag, qualifiers, _ = interpretation[2]
      data_waw.append((rok, miasto, text, start_ind, end_ind, form,lemma,tag,qualifiers,_))

In [57]:
cols=['rok','miasto','nazwa','start_ind', 'end_ind', 'form','lemma','tag','qualifiers','_']
df_waw_morf4 = pd.DataFrame(data_waw, columns=cols)
df_waw_morf4.head(10)

    rok    miasto  ...            qualifiers   _
0  2018  WARSZAWA  ...                    []  []
1  2018  WARSZAWA  ...                    []  []
2  2018  WARSZAWA  ...                    []  []
3  2018  WARSZAWA  ...                    []  []
4  2018  WARSZAWA  ...  [nazwa_geograficzna]  []
5  2018  WARSZAWA  ...            [nazwisko]  []
6  2018  WARSZAWA  ...            [nazwisko]  []
7  2018  WARSZAWA  ...     [nazwa_pospolita]  []
8  2018  WARSZAWA  ...                    []  []
9  2018  WARSZAWA  ...                    []  []

[10 rows x 10 columns]

In [58]:
df_waw_morf4.shape

(89425, 10)

In [59]:
df_waw_morf4['qualifiers'].map(lambda x: str(x)).value_counts()

[]                                                             47582
['nazwa_pospolita']                                            30221
['nazwisko']                                                    5890
['nazwa_geograficzna']                                          3405
['nazwa_geograficzna', 'nazwisko']                              1174
['imię']                                                         437
['człon_nazwy_geograficznej']                                    224
['nazwa_organizacji']                                            166
['imię', 'nazwisko']                                             137
['nazwa_firmy']                                                   35
['imię', 'nazwa_geograficzna']                                    28
['nazwa pospolita']                                               19
['człon_nazwy_geograficznej', 'nazwisko']                         19
['nazwa_instytucji']                                              18
['człon_nazwy_organizacji']                                        9
['człon_nazwy_własnej']                                            8
['nazwa_własna_astronomiczna']                                     7
['nazwisko_(odojcowskie)']                                         7
['nazwa_pospolita', 'nazwisko']                                    6
['nazwisko', 'tytuł']                                              5
['człon_nazwy_geograficznej', 'nazwa_geograficzna']                5
['imię', 'nazwa_geograficzna', 'nazwisko']                         5
['marka']                                                          4
['człon_nazwy_geograficznej', 'nazwa_własna_astronomiczna']        4
['nazwa_członka_rodu']                                             2
['człon_nazwy_geograficznej', 'imię', 'nazwisko']                  2
['nazwa_własna_budowli', 'nazwa_geograficzna']                     1
['pseudonim']                                                      1
['przydomek']                                                      1
['nazwisko', 'przydomek']                                          1
['człon_nazwy_geograficznej', 'imię']                              1
['tytuł']                                                          1
Name: qualifiers, dtype: int64

In [60]:
df_waw_morf4['_'].map(lambda x: str(x)).value_counts().head(60)

[]                          85243
['daw.']                      842
['pot.']                      638
['przest.']                   519
['hom.']                      408
['muz.']                      382
['zool.']                     144
['książk.']                   142
['gwar.']                     108
['jęz.']                       97
['rzad.']                      88
['sport.']                     80
['bot.']                       73
['pogard.']                    37
['środ.']                      36
['z_d.']                       32
['arch.,char.']                32
['anat.']                      30
['karc.']                      26
['wojsk.']                     22
['daw.,praw.']                 21
['szkol.']                     19
['wulg.']                      18
['przest.,techn.']             18
['hist.']                      17
['pot.,środ.']                 16
['komp.']                      15
['przen.']                     15
['geogr.']                     14
['pot.,bot.']                  14
['char.']                      14
['techn.']                     13
['bud.']                       13
['mat.']                       12
['daw.,pszcz.']                12
['książk.,hom.']               12
['żegl.']                      11
['chor.']                      11
['mikol.']                     11
['kulin.']                     11
['indyw.']                      9
['daw.,rzad.']                  9
['daw._dziś_gwar.']             9
['włók.']                       8
['przest._dziś_książk.']        8
['mit.']                        7
['daw.,char.']                  7
['med.']                        6
['reg.']                        6
['biol.']                       5
['monet.']                      5
['geol.']                       5
['mors.']                       5
['daw.,reg.']                   5
['szach.']                      4
['niezal.']                     4
['niepopr.']                    4
['przest.,sport.']              4
['chem.']                       3
['lit.']                        3
Name: _, dtype: int64

In [61]:
czasownik = ['fin', 'bedzie', 'aglt', 'praet', 'impt', 'imps', 'inf', 'pcon', 'pant', 'ger', 'pact', 'ppas']
df_waw_morf4_verb = df_waw_morf4[df_waw_morf4['tag'].str.contains('|'.join(czasownik))]

In [62]:
df_waw_morf4_verb.lemma.value_counts().head(40)

zająć           365
zabawić         216
spotkać         185
przejść         148
oświetlić       127
zielenić        111
wzdłużyć        102
zakupić          99
nasadzić         93
być              61
skrzyżować       46
doświetlić       46
żyć              46
chronić          41
urządzić         35
otworzyć         34
programować      34
pić              34
szkolić          32
ratować          27
dojść            27
śmiecić          26
ćwiczyć          26
doposażyć        26
woleć            26
rozwijać         25
przystać:Vp      24
przestrzenić     23
mieć             22
parkować         21
grać             21
czytać           20
wesprzeć         19
brakować         19
zwalniać         19
zjednoczyć       18
wyposażyć        18
posadzić         18
ogrodzić         16
pływać           16
Name: lemma, dtype: int64

In [63]:
df_waw_morf4[df_waw_morf4['_'].map(set(['zool.']).issubset)]

        rok    miasto  ...         qualifiers        _
13     2018  WARSZAWA  ...  [nazwa_pospolita]  [zool.]
17     2018  WARSZAWA  ...  [nazwa_pospolita]  [zool.]
104    2018  WARSZAWA  ...  [nazwa_pospolita]  [zool.]
108    2018  WARSZAWA  ...  [nazwa_pospolita]  [zool.]
215    2018  WARSZAWA  ...  [nazwa_pospolita]  [zool.]
...     ...       ...  ...                ...      ...
86153  2020  WARSZAWA  ...  [nazwa_pospolita]  [zool.]
88095  2020  WARSZAWA  ...  [nazwa_pospolita]  [zool.]
88360  2020  WARSZAWA  ...  [nazwa_pospolita]  [zool.]
88420  2020  WARSZAWA  ...  [nazwa_pospolita]  [zool.]
88424  2020  WARSZAWA  ...  [nazwa_pospolita]  [zool.]

[144 rows x 10 columns]

In [64]:
df_waw_morf4.to_csv('/content/drive/My Drive/Konkursy Kaggle/Budżet obywatelski/Morfeusz_WAW.csv', index=False)

## Reszta miast

In [65]:
df_roc = df[df['miasto'] != "WARSZAWA"]
df_roc.head(10)

    rok  ... czy_WAW
0  2020  ...     0.0
1  2020  ...     0.0
2  2020  ...     0.0
3  2020  ...     0.0
4  2020  ...     0.0
5  2020  ...     0.0
6  2020  ...     0.0
7  2020  ...     0.0
8  2020  ...     0.0
9  2020  ...     0.0

[10 rows x 4 columns]

In [66]:
data_roc2 =[]

In [67]:
for rows in range(1,df_roc.shape[0]):
  text = df_roc.iloc[rows, 2]
  miasto = df_roc.iloc[rows, 1]
  rok = df_roc.iloc[rows, 0]
  analysis = morf.analyse(text)
  for interpretation in analysis:
      start_ind, end_ind, interp = interpretation
      form, lemma, tag, qualifiers, _ = interpretation[2]
      data_roc2.append((rok, miasto, text, start_ind, end_ind, form,lemma,tag,qualifiers,_))

In [69]:
cols=['rok','miasto','nazwa','start_ind', 'end_ind', 'form','lemma','tag','qualifiers','_']
df_roc_morf5 = pd.DataFrame(data_roc2, columns=cols)
df_roc_morf5.head(10)

    rok  miasto  ...         qualifiers   _
0  2020  GDYNIA  ...                 []  []
1  2020  GDYNIA  ...  [nazwa_pospolita]  []
2  2020  GDYNIA  ...  [nazwa_pospolita]  []
3  2020  GDYNIA  ...  [nazwa_pospolita]  []
4  2020  GDYNIA  ...                 []  []
5  2020  GDYNIA  ...                 []  []
6  2020  GDYNIA  ...  [nazwa_pospolita]  []
7  2020  GDYNIA  ...         [nazwisko]  []
8  2020  GDYNIA  ...                 []  []
9  2020  GDYNIA  ...                 []  []

[10 rows x 10 columns]

In [70]:
df_roc_morf5.shape

(419564, 10)

In [72]:
df_roc_morf5[df_roc_morf5['_'].map(set(['zool.']).issubset)].sample(10)

            rok          miasto  ...         qualifiers        _
97445      2020        KATOWICE  ...  [nazwa_pospolita]  [zool.]
384520     2020       NOWY SĄCZ  ...  [nazwa_pospolita]  [zool.]
338160     2019            ŁÓDŹ  ...  [nazwa_pospolita]  [zool.]
142081     2018  ŚWIĘTOCHŁOWICE  ...  [nazwa_pospolita]  [zool.]
368178     2018          KRAKÓW  ...  [nazwa_pospolita]  [zool.]
64669      2019           BYTOM  ...  [nazwa_pospolita]  [zool.]
138081     2019       SOSNOWIEC  ...  [nazwa_pospolita]  [zool.]
371444     2019          KRAKÓW  ...  [nazwa_pospolita]  [zool.]
291508  2018/19            ŁÓDŹ  ...  [nazwa_pospolita]  [zool.]
186167     2019           KONIN  ...  [nazwa_pospolita]  [zool.]

[10 rows x 10 columns]

In [73]:
df_roc_morf5.to_csv('/content/drive/My Drive/Konkursy Kaggle/Budżet obywatelski/Morfeusz_ROC.csv', index=False)

# 2018

In [74]:
df_2018 = df[df['rok'] == 2018]
df_2018.head(10)

      rok  ... czy_WAW
654  2018  ...     0.0
655  2018  ...     0.0
656  2018  ...     0.0
657  2018  ...     0.0
658  2018  ...     0.0
659  2018  ...     0.0
660  2018  ...     0.0
661  2018  ...     0.0
662  2018  ...     0.0
663  2018  ...     0.0

[10 rows x 4 columns]

In [75]:
data_2018 =[]

In [76]:
def morfeusz_create_morf_table(df, data):
  for rows in range(1,df.shape[0]):
    text = df.iloc[rows, 2]
    miasto = df.iloc[rows, 1]
    rok = df.iloc[rows, 0]
    #print(text)
    analysis = morf.analyse(text)
    for interpretation in analysis:
        start_ind, end_ind, interp = interpretation
        form, lemma, tag, qualifiers, _ = interpretation[2]
        data.append((rok, miasto, text, start_ind, end_ind, form,lemma,tag,qualifiers,_))
  return data

In [77]:
cols=['rok','miasto','nazwa','start_ind', 'end_ind', 'form','lemma','tag','qualifiers','_']
list_morf = morfeusz_create_morf_table(df_2018, data_2018)
df_2018_morf = pd.DataFrame(list_morf, columns=cols)
df_2018_morf.head(10)

    rok  miasto  ...         qualifiers   _
0  2018  GDYNIA  ...                 []  []
1  2018  GDYNIA  ...  [nazwa_pospolita]  []
2  2018  GDYNIA  ...                 []  []
3  2018  GDYNIA  ...                 []  []
4  2018  GDYNIA  ...                 []  []
5  2018  GDYNIA  ...                 []  []
6  2018  GDYNIA  ...  [nazwa_pospolita]  []
7  2018  GDYNIA  ...  [nazwa_pospolita]  []
8  2018  GDYNIA  ...  [nazwa_pospolita]  []
9  2018  GDYNIA  ...                 []  []

[10 rows x 10 columns]

In [78]:
df_2018_morf.shape

(122473, 10)

In [79]:
df_2018_morf.to_csv('/content/drive/My Drive/Konkursy Kaggle/Budżet obywatelski/Morfeusz_2018.csv', index=False)

## 2019

In [83]:
df_2019 = df[df['rok'] == 2019]
df_2019.head(10)

      rok  ... czy_WAW
360  2019  ...     0.0
361  2019  ...     0.0
362  2019  ...     0.0
363  2019  ...     0.0
364  2019  ...     0.0
365  2019  ...     0.0
366  2019  ...     0.0
367  2019  ...     0.0
368  2019  ...     0.0
369  2019  ...     0.0

[10 rows x 4 columns]

In [84]:
data_2019 =[]

In [85]:
cols=['rok','miasto','nazwa','start_ind', 'end_ind', 'form','lemma','tag','qualifiers','_']
list_morf = morfeusz_create_morf_table(df_2019, data_2019)
df_2019_morf = pd.DataFrame(list_morf, columns=cols)
df_2019_morf.head(10)

    rok  miasto  ...         qualifiers   _
0  2019  GDYNIA  ...  [nazwa_pospolita]  []
1  2019  GDYNIA  ...  [nazwa_pospolita]  []
2  2019  GDYNIA  ...  [nazwa_pospolita]  []
3  2019  GDYNIA  ...   [imię, nazwisko]  []
4  2019  GDYNIA  ...   [imię, nazwisko]  []
5  2019  GDYNIA  ...         [nazwisko]  []
6  2019  GDYNIA  ...         [nazwisko]  []
7  2019  GDYNIA  ...                 []  []
8  2019  GDYNIA  ...                 []  []
9  2019  GDYNIA  ...                 []  []

[10 rows x 10 columns]

In [86]:
df_2019_morf.shape

(176322, 10)

In [87]:
df_2019_morf.to_csv('/content/drive/My Drive/Konkursy Kaggle/Budżet obywatelski/Morfeusz_2019.csv', index=False)

## 2020

In [88]:
df_2020 = df[df['rok'] == 2020]
df_2020.head(10)

    rok  ... czy_WAW
0  2020  ...     0.0
1  2020  ...     0.0
2  2020  ...     0.0
3  2020  ...     0.0
4  2020  ...     0.0
5  2020  ...     0.0
6  2020  ...     0.0
7  2020  ...     0.0
8  2020  ...     0.0
9  2020  ...     0.0

[10 rows x 4 columns]

In [89]:
data_2020 =[]

In [90]:
cols=['rok','miasto','nazwa','start_ind', 'end_ind', 'form','lemma','tag','qualifiers','_']
list_morf = morfeusz_create_morf_table(df_2020, data_2020)
df_2020_morf = pd.DataFrame(list_morf, columns=cols)
df_2020_morf.head(10)

    rok  miasto  ...         qualifiers   _
0  2020  GDYNIA  ...                 []  []
1  2020  GDYNIA  ...  [nazwa_pospolita]  []
2  2020  GDYNIA  ...  [nazwa_pospolita]  []
3  2020  GDYNIA  ...  [nazwa_pospolita]  []
4  2020  GDYNIA  ...                 []  []
5  2020  GDYNIA  ...                 []  []
6  2020  GDYNIA  ...  [nazwa_pospolita]  []
7  2020  GDYNIA  ...         [nazwisko]  []
8  2020  GDYNIA  ...                 []  []
9  2020  GDYNIA  ...                 []  []

[10 rows x 10 columns]

In [91]:
df_2020_morf.shape

(183308, 10)

In [92]:
df_2020_morf.to_csv('/content/drive/My Drive/Konkursy Kaggle/Budżet obywatelski/Morfeusz_2020.csv', index=False)